#0 2 * * * cd /var/www/backend && php bin/console app:deactivate-expired-properties --no-interaction
0 7 * * * cd /var/www/backend && php bin/console app:update-exchange-rates --no-interaction
0 * * * * cd /var/www/backend && php bin/console app:sync-external-calendars --no-interaction
*/5 * * * * cd /var/www/backend && php bin/console app:reshuffle-placement --no-interaction
0 * * * * cd /var/www/backend && php bin/console app:expire-property-placements --no-interaction
